.app {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.page-container {
    flex-grow: 1;
    height: 100%;
}

.side-menu {
    width: 80vw;
}

.separator {
    height: 1px;
    border-width: 0;
    color: lightgray;
    background-color: lightgray
}

.title-menu {
    margin-top: 6px;
    margin-left: 20px;
}

.menu-item {
    display: flex;
}

.icon-menu {
    font-size: 200%;
}

.user-header {
    background-color: #823fda;
    height: 25%;
    display: flex;
    flex-direction: column;
    padding-top: 20px;
}

.avatar img {
    border-radius: 50%;
}

.avatar {
    display: flex;
}

.username {
    color: white;
    font-weight: 500;
}

app-upper-toolbar {
    z-index: 2;
}

.menu-list {
    display: flex;
    flex-direction: column;
    height: 75%;
    overflow-x: hidden;
}
