<div class="app">
  <app-upper-toolbar *ngIf="showUi" (menuToogle)="drawer.toggle()"></app-upper-toolbar>
  <mat-drawer-container class="page-container" autosize>
    <mat-drawer class="side-menu" #drawer>
        <div class="user-header">
          <div class="space"></div>
          <div class="avatar">
            <div class="space"></div>
            <div>
              <img  class="mat-elevation-z2"
                    src="https://d2ph5fj80uercy.cloudfront.net/04/cat2972.jpg"
                    width="80px"/>
            </div>
            <div class="space"></div>
          </div>
          <div style="display: flex">
            <div class="space"></div>
            <h1 class="username">Gabriel Hamel</h1>
            <div class="space"></div>
          </div>
          <div class="space"></div>
        </div>
        <mat-nav-list class="menu-list" *ngFor="let group of pages">
          <div>
            <hr class="separator">
          </div>
          <div>
          <a  mat-list-item
              class="menu-item"
              *ngFor="let page of group.pages"
              (click)="drawer.close() && page.func()">
              <div class="menu-item">
                <div>
                  <mat-icon class="icon-menu">{{ page.icon }}_outline</mat-icon>
                </div>
                <div class="title-menu" >
                  {{ page.name }}
                </div>
              </div>
          </a>
        </div>
        <div class="space"></div>
        <div>
          <hr class="separator">
        </div>
        <div>
          <a  mat-list-item
            class="menu-item"
              (click)="drawer.close() && logout()">
              <div class="menu-item">
                <div>
                  <mat-icon class="icon-menu">login_outline</mat-icon>
                </div>
                <div class="title-menu" >
                  Logout
                </div>
              </div>
          </a>
        </div>
        </mat-nav-list>
    </mat-drawer>
    <mat-drawer-content>
      <div class="plain" [@routeAnimations]="prepareRoute(outlet)">
        <router-outlet #outlet="outlet"></router-outlet>
      </div>
      <app-bottom-toolbar *ngIf="showUi"></app-bottom-toolbar>
    </mat-drawer-content>
  </mat-drawer-container>
</div>
