<mat-toolbar class="mat-elevation-z8 toolbar">
  <div>
    <button mat-icon-button (click)="menuToogle.emit($event)" onclick="this.blur()">
      <mat-icon>menu</mat-icon>
    </button>
  </div>
  <div class="space"></div>
  <div class="logo">
    <img src="assets/toolbar-logo.png" class="logo-img" />
  </div>
  <div class="space"></div>
</mat-toolbar>
