.login-text {
    color: gray;
}

.grid {
    height: 100%;
    justify-content: center;
    display: flex;
    flex-direction:column;
}

.upper-col {
    padding-bottom: 25px;
}

.lower-col {
    padding-bottom: 50px;
}
