<ion-grid class="grid">
    <ion-row>
        <ion-col class="ion-text-center upper-col">
            <img src="assets/auth-logo.png"/>
        </ion-col>
    </ion-row>
    <ion-row>
        <ion-col class="ion-text-center lower-col">
            <h2 class="login-text">Welcome, please login</h2>
        </ion-col>
    </ion-row>
    <ion-row>
        <ion-col>
            <app-signin (onSubmit)="onLogin($event)"></app-signin>
        </ion-col>
    </ion-row>
</ion-grid>
