<a style="margin-top: 10px" mat-button routerLink="/sign_in" disableRipple="true">
    <div style="display: flex">
        <div style="margin-top: 6px;">
            <mat-icon>chevron_left</mat-icon>
        </div>
        <div>BACK</div>
    </div>
</a>
<ion-grid class="grid">
    <ion-row>
        <ion-col class="ion-text-center upper-col">
            <img src="assets/auth-logo.png"/>
        </ion-col>
    </ion-row>
    <ion-row>
        <ion-col class="ion-text-center lower-col">
            <h2 class="login-text">Create an account on your personal shopping</h2>
        </ion-col>
    </ion-row>
    <ion-row>
        <ion-col>
            <app-signup (onSubmit)="onSignup($event)"></app-signup>
        </ion-col>
    </ion-row>
</ion-grid>
