

<div class="container">
  <mat-toolbar class="toolbar-custom">
    <ion-fab vertical="top" horizontal="center" slot="fixed" edge>
      <ion-fab-button color="primary">
        <ion-icon name="add"></ion-icon>
      </ion-fab-button>
      <ion-fab-list side="top">
        <ion-fab-button color="primary" (click)="goTo('/qr_code')">
          <ion-icon name="qr-code"></ion-icon>
        </ion-fab-button>
        <ion-fab-button *ngIf="hasNFC" color="primary" (click)="goTo('/nfc')">
          <span class="iconify" data-icon="whh:nfc"></span>
        </ion-fab-button>
      </ion-fab-list>
    </ion-fab>
  </mat-toolbar>
</div>
