.container {
    position: absolute;
    bottom: 0;
    width: 100%;
}

.toolbar-custom {
    color: white;
    display: flex;
    background-color: #823fda;
    z-index: 3;
}

.horizontal-box {
    width: 100%;
    display: flex;
}

.menu-button {
    top: -28px;
    z-index: 2;
}
