<form
  [formGroup]="signupFormGroup"
  (ngSubmit)="submit()"
  class="login-form">

  <mat-form-field appearance="outline">
    <mat-label>Firstname</mat-label>
    <input  matInput
            [formControl]="signupFormGroup.controls.firstname"
            autocomplete="given-name"
            placeholder="Firstname"
    >
    <mat-error *ngIf="signupFormGroup.controls.firstname.invalid">
      Please enter a valid firstname
    </mat-error>
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Lastname</mat-label>
    <input  matInput
            [formControl]="signupFormGroup.controls.lastname"
            autocomplete="family-name"
            type="text"
            placeholder="Lastname"
    >
    <mat-error *ngIf="signupFormGroup.controls.lastname.invalid">
      Please enter a valid lastname
    </mat-error>
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Email</mat-label>
    <input  matInput
            [formControl]="signupFormGroup.controls.email"
            autocomplete="email"
            type="email"
            placeholder="Email"
    >
    <mat-error *ngIf="signupFormGroup.controls.email.invalid">
      Please enter a valid email
    </mat-error>
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Password</mat-label>
    <input  matInput
            [formControl]="signupFormGroup.controls.password"
            autocomplete="new-password"
            [type]="hide ? 'password' : 'text'"
            placeholder="Password"
    >
    <button mat-icon-button matSuffix type="button" (click)="hide = !hide">
      <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
    </button>
    <mat-error *ngIf="signupFormGroup.controls.password.invalid">
      Please enter a valid password
    </mat-error>
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Password confirmation</mat-label>
    <input  matInput
            [formControl]="signupFormGroup.controls.passwordConfirm"
            autocomplete="new-password"
            [type]="hide ? 'password' : 'text'"
            placeholder="Password"
    >
    <mat-error *ngIf="signupFormGroup.controls.passwordConfirm.invalid">
      Password confirmation doesn't match
    </mat-error>
  </mat-form-field>

  <div class="action-bar">
    <div class="space"></div>
    <div>
      <button mat-raised-button
            color="primary"
            class="small-button"
            type="submit"
            [disabled]="!signupFormGroup.valid"
      >SIGN UP</button>
    </div>
  </div>
</form>
