<form
  [formGroup]="loginFormGroup"
  (ngSubmit)="submit()"
  class="login-form">
  <mat-form-field appearance="outline">
    <mat-label>Email</mat-label>
    <input  matInput
            [formControl]="loginFormGroup.controls.email"
            autocomplete="email"
            type="email"
            placeholder="Email"
    >
    <mat-error *ngIf="loginFormGroup.controls.email.invalid">
      Please enter a valid email
    </mat-error>
  </mat-form-field>
  <mat-form-field appearance="outline">
    <mat-label>Password</mat-label>
    <input  matInput
            [formControl]="loginFormGroup.controls.password"
            autocomplete="current-password"
            [type]="hide ? 'password' : 'text'"
            placeholder="Password"
    >
    <button mat-icon-button matSuffix type="button" (click)="hide = !hide">
      <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
    </button>
    <mat-error *ngIf="loginFormGroup.controls.password.invalid">
      Please enter a valid password
    </mat-error>
  </mat-form-field>
  <div class="action-bar">
    <div class="space"></div>
    <div>
      <a
        mat-button
        class="small-button"
        routerLink="/sign_up"
        disableRipple=true
      >SIGN UP</a>
    </div>
    <div>
      <button mat-raised-button
            color="primary"
            class="small-button"
            type="submit"
            [disabled]="!loginFormGroup.valid"
      >SIGN IN</button>
    </div>
  </div>
</form>
