<div style="height: 100%; display: flex; flex-direction: column;">
  <div class="space"></div>
  <div style="display: flex; flex-direction: row">
    <div class="space"></div>
      <h1>
        <b>Votre panier:</b>
      </h1>
    <div class="space"></div>
  </div>
  <div class="space"></div>
</div>
