<div class="content">
    <ion-grid>
        <ion-row>
            <ion-col class="ion-text-center">
                <div *ngIf="nfcStatus === 'ToBeEnabled'; then askBlock; else scanBlock"></div>
                <ng-template #askBlock>
                    <h1>
                        <b>Please enable NFC</b>
                    </h1>
                </ng-template>
                <ng-template #scanBlock>
                    <h1>
                        <b>Scan article...</b>
                    </h1>
                </ng-template>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col
                class="ion-text-center"
                *ngIf="nfcStatus === 'ToBeEnabled' && _platform.ANDROID">
            <button
                mat-raised-button
                (click)="openSettings()"
                color="primary">Open settings</button>
            </ion-col>
        </ion-row>
    </ion-grid>
</div>
